.button{
    font-size: 1rem;
    background-color: theme('colors.purple');
    width: 90%;
    height: 3rem;
    color: theme('colors.white');
    font-weight: 700;
    border-radius: 0.5rem;
    margin-top: 40px;

    &:hover {
        background-color: theme('colors.gray');
        color: theme('colors.purple');
        border-width: 0.2rem;
        border-color: theme('colors.purple');
    }
}